[defaults]
ansible_python_interpreter=python3
host_key_checking = False
inventory = ./ansible_hosts

# Default user to use for playbooks if user is not specified
# Uses the connection plugin's default, normally the user currently executing Ansible,
# unless a different user is specified here.

remote_user = root

# Use this shell for commands executed under sudo.
# you may need to change this to /bin/bash in rare instances
# if sudo is constrained.

executable = /bin/sh

# List any Jinja2 extensions to enable here: internalization

jinja2_extensions = jinja2.ext.i18n

# By default, ansible-playbook will display "Skipping [host]" if it determines a task
# should not be run on a host. Set this to "False" if you don't want to see these "Skipping"
# messages. NOTE: the task header will still be shown regardless of whether or not the
# task is skipped.

display_skipped_hosts = True
